*{
    color: black;
}

main{
    margin:10px 60px 0px 60px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.searchByTagOptions::-webkit-input-placeholder {
    color: white;
  }

header img{
    width: 50px;
}

header h1{
    color:#D04F4F;
}

.tagListElements:hover{
    cursor: pointer;
    background-color: lightgrey;
}


#elementSearched{
    flex-grow: 1;
    border: none;
    background-color: lightgrey;
}

#searchButton{
    border: none;
    background-color: lightgrey;
}

#tags-selected{
    display: flex;
}


#recipes{
    position: absolute;
    top:300px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
}

.tags-display{
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
}

.recipe-card{
    border: solid;
    width: 28%;
    margin: 10px;
    height:500px;
}

#ingredientTags{
    background-color: #3282F7;
}
#ingredientTags-display{
    background-color: #3282F7;
}

#applianceTags{
    background-color: #68D9A4;

}

#ustensilTags{
    background-color: #ED6454;
}

#applianceTags-display{
    background-color: #68D9A4;
}
#ustensilTags-display{
    background-color: #ED6454;
}

.tagListElements{
    color: white;
}

#tagSearchContainer{
    position: absolute;
    top:220px;
    z-index: 2;
}

.photo-holder{
    height: 30%;
    width: 100%;
    background-color: grey;
}

.recipe-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-header h2{
    font-size: medium;
    margin: 10px;
}

.recipe-time{
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: 5px;
}

.recipe-time i{
    margin: 3px;
}

.recipe-main-text{
    width: 100%;
    display: flex;
}

.ingredients-list{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
}

.recipe-description{
    width: 50%;
}

.tagSelected{
    display: flex;
    align-items: center;
    border: solid;
    padding: 5px;
}

.tagSelected p{
    margin: 0px 10px 0px 0px;
}

.recipe-description{
    font-size: x-small;
}